astroid==2.4.2
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
flake8==3.8.3
flake8-bugbear==20.1.4
idna==2.10
isort==5.1.4
lazy-object-proxy==1.4
mccabe==0.6.1
numpy==1.19.0
pycodestyle==2.6.0
pyflakes==2.2.0
requests==2.24.0
selenium==4.0.0a6.post2
six==1.15.0
toml==0.10.1
urllib3==1.25.9
wrapt==1.12.1
requests_toolbelt